@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  font-family: 'Indie Flower', cursive;
}

body {
  background: #8E0E00;  /* fallback for old browsers */
}

.main {
  margin-top: 10px;
}

.img-letter {
  width: 100%;
  height: 100vh;
  display: flex;
  color: black;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.from {
  margin-top: 170px;
  padding: 0 70px;
}

.message {
  height: 50vh;
  padding: 0 70px;
}

.to {
  padding: 0 70px;
  text-align: left;
  width: 100%;
}

span {
  font-size: 2em;
  text-align: justify;
}

.input-card {
  padding: 10px;
}

input {
  margin: 5px 0;
}

.scrollable {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  margin-top: 10px;
}

.scrollable > img {
  margin: 0 5px;
}

.img-scroll {
  width: 200px;
  height: auto;
}

.music-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

.btn-music {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-music > button {
  margin: 0 5px;
}

a {
  text-decoration: none !important;
  color: white;
}